﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateCore</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body id="main">
    <div class="col-12" style="float:left" id="header-contain">
        <a href="#" class="dd-menu-open js-open-menu">
            <span class="dd-bars">
                <span class="dd-bar dd-bar-01"><span class="dd-bar-in dd-bar-in-01"></span></span>
                <span class="dd-bar dd-bar-02"><span class="dd-bar-in dd-bar-in-02"></span></span>
                <span class="dd-bar dd-bar-03"><span class="dd-bar-in dd-bar-in-03"></span></span>
            </span><span class="dd-label">Menu</span>
        </a>
        <div class="col-4 mt-3 text-center logo-contain">
            @*<a href="http://localhost:5000/">*@
            <a href="https://chilinhpalm.azurewebsites.net/">
                <svg xmlns="http://www.w3.org/2000/svg" width="162.203" height="46.628" viewBox="0 0 162.203 46.628">
                    <g id="Group_663" data-name="Group 663" transform="translate(0 -305.092)">
                        <g id="Group_661" data-name="Group 661" transform="translate(32.466 305.092)">
                            <path id="Path_2361" data-name="Path 2361" d="M127.243,332.131c-.89,1.47-2.582,2.656-5.581,2.656-4.876-.02-8.056-2.715-8.056-7.248,0-4.442,3.069-7.208,8.113-7.208a10.88,10.88,0,0,1,4.937,1.076l.039,3.408h-.166a4.448,4.448,0,0,0-4.611-3.647c-3.15,0-5.075,2.427-5.075,6.329,0,3.931,1.862,6.377,4.819,6.457,3.056,0,4.6-1.334,5.223-5.238h.165Z" transform="translate(-113.606 -315.976)" fill="#fff" />
                            <path id="Path_2362" data-name="Path 2362" d="M182.84,335.2h-6.033l0-.2h.251a1.274,1.274,0,0,0,1.272-1.234V328.7h-6.439v5.053A1.273,1.273,0,0,0,173.166,335h.251l0,.2h-6.033l0-.2h.251a1.273,1.273,0,0,0,1.272-1.249V322.739a1.273,1.273,0,0,0-1.272-1.241h-.251l0-.2h6.032l0,.2h-.251a1.274,1.274,0,0,0-1.272,1.237v5.129h6.439v-5.141a1.273,1.273,0,0,0-1.272-1.225h-.251l0-.2h6.031l0,.2h-.251a1.273,1.273,0,0,0-1.273,1.249v11.007h0A1.273,1.273,0,0,0,182.584,335h.251Z" transform="translate(-152.018 -316.668)" fill="#fff" />
                            <path id="Path_2363" data-name="Path 2363" d="M233.323,323.427l0,.2h-6.032l0-.2h.251a1.273,1.273,0,0,0,1.273-1.249V311.163a1.273,1.273,0,0,0-1.273-1.241H227.3l0-.2h6.031l0,.2h-.252a1.272,1.272,0,0,0-1.271,1.237v11.02a1.272,1.272,0,0,0,1.272,1.249Zm-3.232-14.936-.139-.139a15.965,15.965,0,0,1,2.857-3.26,2.667,2.667,0,0,1,1.346,1.613A14.763,14.763,0,0,1,230.09,308.491Z" transform="translate(-194.804 -305.092)" fill="#fff" />
                            <path id="Path_2364" data-name="Path 2364" d="M282.752,331.152l-.917,4.052H271.554l0-.2h.251a1.273,1.273,0,0,0,1.272-1.249V322.75a1.272,1.272,0,0,0-1.272-1.249h-.251l0-.2h6.033l0,.2h-.251a1.272,1.272,0,0,0-1.272,1.249h0v11.6h2.607c1.984,0,3.271-1.232,3.887-3.2Z" transform="translate(-226.416 -316.67)" fill="#fff" />
                            <path id="Path_2365" data-name="Path 2365" d="M320.05,335.2h-6.032l0-.2h.251a1.273,1.273,0,0,0,1.273-1.249V322.739a1.273,1.273,0,0,0-1.273-1.241h-.251l0-.2h6.031l0,.2h-.252a1.272,1.272,0,0,0-1.271,1.237v11.02A1.272,1.272,0,0,0,319.8,335h.251Z" transform="translate(-256.744 -316.668)" fill="#fff" />
                            <path id="Path_2366" data-name="Path 2366" d="M356.077,320.758h-.366a1.226,1.226,0,0,0-1.225,1.187V332.2a12.932,12.932,0,0,0,.229,2.533h-.181l-10.044-9.554.009,7.88a1.228,1.228,0,0,0,1.226,1.2h.366l0,.2h-6.019l0-.2h.366a1.226,1.226,0,0,0,1.226-1.2V322.743a12.183,12.183,0,0,0-.231-2.481h.2l.024.026,10,9.525v-7.851h0a1.227,1.227,0,0,0-1.226-1.2h-.366l0-.2h6.021Z" transform="translate(-275.356 -315.927)" fill="#fff" />
                            <path id="Path_2367" data-name="Path 2367" d="M415.356,335.2h-6.033l0-.2h.251a1.273,1.273,0,0,0,1.273-1.234V328.7h-6.44v5.053A1.273,1.273,0,0,0,405.682,335h.251l0,.2H399.9l0-.2h.251a1.273,1.273,0,0,0,1.272-1.249V322.739a1.273,1.273,0,0,0-1.272-1.241h-.251l0-.2h6.032l0,.2h-.251a1.273,1.273,0,0,0-1.272,1.237v5.129h6.439v-5.141a1.272,1.272,0,0,0-1.271-1.225h-.251l0-.2h6.033l0,.2H415.1a1.274,1.274,0,0,0-1.273,1.249v11.007A1.274,1.274,0,0,0,415.1,335h.251Z" transform="translate(-318.086 -316.668)" fill="#fff" />
                        </g>
                        <g id="Group_662" data-name="Group 662" transform="translate(0 330.579)">
                            <path id="Path_2368" data-name="Path 2368" d="M16.638,401.749a5.813,5.813,0,0,1-9.176,5l0-.27a4.277,4.277,0,0,0,4.433-3.257,6.136,6.136,0,0,0,.175-1.718c-.08-2.435-1.39-4.024-3.676-4.024H6.485v16.71a1.829,1.829,0,0,0,1.828,1.8h.362l.005.285H0l0-.285H.366a1.831,1.831,0,0,0,1.83-1.8h0V398.205A1.829,1.829,0,0,0,.373,396.56H.015l-.005-.286H2.288v0H9.534c4.887,0,7.005,2.353,7.1,5.472Z" transform="translate(0 -395.703)" fill="#fff" />
                            <path id="Path_2369" data-name="Path 2369" d="M73.7,414.558v.285H64.6v-.283h.251a1.205,1.205,0,0,0,1.088-1.793h.016l-1.407-3.53h-6.7l-1.473,3.53h.012a1.2,1.2,0,0,0,1.092,1.793h.251v.283H51.6v-.285h.257a2.805,2.805,0,0,0,2.409-1.609l6.606-14.931a20.113,20.113,0,0,0,1.4-3.742h.257L71.022,412.9a2.822,2.822,0,0,0,2.438,1.657Zm-9.631-6.524-2.794-7.014-2.927,7.014Z" transform="translate(-36.85 -394.276)" fill="#fff" />
                            <path id="Path_2370" data-name="Path 2370" d="M146.4,410.446l-1.318,5.828h-14.79l.005-.285h.361a1.829,1.829,0,0,0,1.829-1.8V398.361a1.83,1.83,0,0,0-1.829-1.8H130.3l-.005-.285h8.678l-.005.285H138.6a1.829,1.829,0,0,0-1.829,1.8h0v16.694h3.749c2.854,0,4.706-1.773,5.592-4.608Z" transform="translate(-93.056 -395.707)" fill="#fff" />
                            <path id="Path_2371" data-name="Path 2371" d="M214.671,414.99v.286h-8.582v-.27h.446a1.22,1.22,0,0,0,1.107-1.345h0l-1.127-10.225-5.351,9.253a8.167,8.167,0,0,0-1.1,3.159H199.8l-7.35-12.341L191.326,413.7c0,.028,0,.057,0,.086a1.21,1.21,0,0,0,1.113,1.22h.446v.269H186.9v-.285h.456a2.03,2.03,0,0,0,2.088-1.789h0l2.367-18.319h.265l8.863,14.572,8.5-14.564h.26l2.436,18.311h0a2.052,2.052,0,0,0,2.083,1.789Z" transform="translate(-133.487 -394.708)" fill="#fff" />
                            <path id="Path_2372" data-name="Path 2372" d="M332.2,411.855c-1.279,2.114-3.713,3.82-8.026,3.82-7.014-.028-11.588-3.9-11.588-10.426,0-6.389,4.414-10.368,11.669-10.368a15.634,15.634,0,0,1,7.1,1.548l.056,4.9h-.237c-1.041-3.751-3.494-5.244-6.634-5.247-4.532,0-7.3,3.492-7.3,9.1,0,5.654,2.677,9.173,6.931,9.287,4.395-.005,6.623-1.918,7.513-7.535h.237Z" transform="translate(-223.254 -394.708)" fill="#fff" />
                            <path id="Path_2373" data-name="Path 2373" d="M398.657,416.27H389.98l0-.286h.361a1.829,1.829,0,0,0,1.83-1.8V398.344a1.83,1.83,0,0,0-1.83-1.785h-.361l0-.286h2.279v0h4.119v0h2.279l0,.286h-.361a1.831,1.831,0,0,0-1.83,1.779v15.852a1.83,1.83,0,0,0,1.83,1.8h.361Z" transform="translate(-278.531 -395.703)" fill="#fff" />
                            <path id="Path_2374" data-name="Path 2374" d="M444.155,394.363v4.979l-.289,0V399a2.733,2.733,0,0,0-2.857-2.916h-3.838v16.761A1.831,1.831,0,0,0,439,414.62h.361l.005.286h-8.681l0-.286h.361a1.828,1.828,0,0,0,1.828-1.749V396.085h-3.84A2.734,2.734,0,0,0,426.18,399v.336l-.287,0v-4.979a12.328,12.328,0,0,0,3.384.52H440.77A12.352,12.352,0,0,0,444.155,394.363Z" transform="translate(-304.181 -394.338)" fill="#fff" />
                            <path id="Path_2375" data-name="Path 2375" d="M512.939,396.28v.285h-.4a3.66,3.66,0,0,0-2.872,1.669l-5.625,8.955v7h0a1.827,1.827,0,0,0,1.828,1.8h.363l0,.285h-8.676l.005-.285h.361a1.831,1.831,0,0,0,1.83-1.778v-7.039l-5.441-8.968a3.6,3.6,0,0,0-2.846-1.639h-.4v-.285h9.458v.285h-.359a1.2,1.2,0,0,0-1,1.767l4.069,7.427,4.253-7.427a1.211,1.211,0,0,0-1-1.766h-.359v-.285Z" transform="translate(-350.736 -395.707)" fill="#fff" />
                        </g>
                    </g>
                </svg>
                @*<img width="151" height="61" src="~/images/header-logo.svg" />*@
            </a>
        </div>
        <ul class="dd-b-language at-header mobile-hide">
            <li class="active"><a data-request="onSwitchLocale" href="#" data-request-data="locale:'vi'">vi</a></li>
            <li class=""><a data-request="onSwitchLocale" href="#" data-request-data="locale:'en'">en</a></li>
        </ul>
    </div>

    @RenderBody()

    <partial name="_Menu" />
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
    </environment>
    <script src="~/dist/app.bundler.js"></script>
    <script src="~/dist/vendor.bundler.js"></script>
    @RenderSection("Scripts", required: false)
    <script>

    </script>
</body>
</html>
