﻿
#section-short-content-middle .content-block {
    top: 5%;
}

#section-short-content-bottom .content-block {
    top: 5%;
}

    #section-header-image .text-header-contain {
        top: 50%;
    }

#section-header-image {
    background: url('/images/header-detail.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

    #section-header-image .header-text-center {
        text-shadow: 1px 4px 5px #0c0b0b;
    }

    #section-detail-gallery {
        /*background-image: url('/images/be-boi11.jpg');*/
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #section-detail-gallery img {
        max-height: 100%;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .font-title {
        font-size: 30px;
    }

.top-block{
    position: absolute;
    top: 10%;
}

.content-block{
    position: absolute;
    top:33.333%;
    height: 80%;
}

.height-250{
    height: 250px;
}

.height-600 {
    height: 600px;
}
    .height-600 .img-contain {
        height: 100%;
    }

.height-800{
    height: 800px;
}

    .img-contain, .height-800 .img-contain {
        height: 80%;
    }

.btn-detail {
    font-size: 1.2rem !important;
    width: 180px;
    height: 50px;
    padding: 1.3rem 1rem;
    border: solid 1px #707070;
}
